<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="SocketIO" patternSyntax="ECMAScript">
          <match url="socket.io" />
          <action type="Rewrite" url="server/index.js" />
        </rule>
        <rule name="StaticContent">
          <match url="^(assets|.*\.js|.*\.css|.*\.ico|.*\.png|.*\.jpg|.*\.svg|.*\.woff2?)$" />
          <action type="Rewrite" url="client/dist/{R:0}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <match url=".*" />
          <action type="Rewrite" url="server/index.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="node"
      watchedFiles="*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
    />
  </system.webServer>
</configuration>
